In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

data = pd.read_csv('/kaggle/input/largest-companies-in-world/Largest companies in world.csv')

In [2]:
data.head()

,rank,organizationName,country,revenue,profits,assets,marketValue
0,1,JPMorgan Chase,United States,179.93 B,41.8 B,"3,744.3 B",399.59 B
1,2,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,589.47 B,156.36 B,660.99 B,"2,055.22 B"
2,3,ICBC,China,216.77 B,52.47 B,"6,116.82 B",203.01 B
3,4,China Construction Bank,China,203.08 B,48.25 B,"4,977.48 B",172.99 B
4,5,Agricultural Bank of China,China,186.14 B,37.92 B,"5,356.86 B",141.82 B

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              2050 non-null   object
 1   organizationName  2050 non-null   object
 2   country           2050 non-null   object
 3   revenue           2049 non-null   object
 4   profits           2049 non-null   object
 5   assets            2049 non-null   object
 6   marketValue       2049 non-null   object
dtypes: object(7)
memory usage: 112.3+ KB

In [4]:
data.columns

Index(['rank', 'organizationName', 'country', 'revenue', 'profits', 'assets',
       'marketValue'],
      dtype='object')

In [5]:
data.country.unique()

array(['United States', 'Saudi Arabia', 'China', 'United Kingdom',
       'Japan', 'South Korea', 'France', 'Hong Kong', 'Germany', 'Canada',
       nan, 'Taiwan', 'India', 'Spain', 'Switzerland', 'Norway', 'Brazil',
       'Netherlands', 'Belgium', 'Italy', 'Australia', 'Ireland',
       'Denmark', 'Mexico', 'Singapore', 'Qatar', 'Luxembourg', 'Finland',
       'Sweden', 'Thailand', 'Poland', 'United Arab Emirates',
       'Indonesia', 'Colombia', 'Austria', 'Turkey', 'Czech Republic',
       'Malaysia', 'South Africa', 'Bermuda', 'Portugal', 'Kuwait',
       'Chile', 'Israel', 'Argentina', 'Vietnam', 'Hungary',
       'Philippines', 'Peru', 'Uruguay', 'Greece', 'Cayman Islands',
       'Kazakhstan', 'Morocco', 'Egypt', 'Nigeria', 'Jordan', 'Oman',
       'Pakistan'], dtype=object)

In [6]:
data.isnull().sum()

rank                1
organizationName    1
country             1
revenue             2
profits             2
assets              2
marketValue         2
dtype: int64

In [7]:
data = data.dropna()

In [8]:
def convert(value):
    value = value.replace(',', '')
    value = value.replace(' ', '')
    if 'B' in value:
        return float(value.replace('B', '')) * 1000
    elif 'M' in value:
        return float(value.replace('M', ''))
    else:
        return int(value)

In [9]:
data['revenue'] = data['revenue'].apply(convert)
data['profits'] = data['profits'].apply(convert)
data['assets'] = data['assets'].apply(convert)
data['marketValue'] = data['marketValue'].apply(convert)
data['rank'] = data['rank'].apply(convert)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2049 entries, 0 to 2050
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              2049 non-null   int64
 1   organizationName  2049 non-null   object
 2   country           2049 non-null   object
 3   revenue           2049 non-null   float64
 4   profits           2049 non-null   float64
 5   assets            2049 non-null   float64
 6   marketValue       2049 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 128.1+ KB

In [11]:
data.head()

,rank,organizationName,country,revenue,profits,assets,marketValue
0,1,JPMorgan Chase,United States,179930.0,41800.0,3744300.0,399590.0
1,2,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,589470.0,156360.0,660990.0,2055220.0
2,3,ICBC,China,216770.0,52470.0,6116820.0,203010.0
3,4,China Construction Bank,China,203080.0,48250.0,4977480.0,172990.0
4,5,Agricultural Bank of China,China,186140.0,37920.0,5356860.0,141820.0

In [12]:
data.tail()

,rank,organizationName,country,revenue,profits,assets,marketValue
2046,1996,Alfa Laval,Sweden,5350.0,489.5,7820.0,15600.0
2047,1996,Gap,United States,15620.0,-202.0,11390.0,3170.0
2048,1996,Yes Bank,India,3340.0,91.6,43220.0,5600.0
2049,1999,BEKB-BCBE,Switzerland,556.0,167.1,42970.0,2490.0
2050,1999,Ipsen,France,3180.0,681.7,5990.0,10210.0

In [13]:
def Sort(sub_li):
    l = len(sub_li)
    for i in range(0, l):
        for j in range(0, l-i-1):
            if (sub_li[j][1] > sub_li[j + 1][1]):
                tempo = sub_li[j]
                sub_li[j] = sub_li[j + 1]
                sub_li[j + 1] = tempo
    return sub_li

X = data.drop(['rank','organizationName','country'], axis=1)
y = data['rank']

model = LinearRegression()

model.fit(X, y)

importance = model.coef_

implist = []
for i,v in enumerate(importance):
    implist.append([X.columns[i],v])
implist = Sort(implist)
for feature in implist:
    print('Score: %.5f, \t Feature: %0s' % (feature[1],feature[0]))

Score: -0.00396, 	 Feature: revenue
Score: -0.00254, 	 Feature: profits
Score: -0.00024, 	 Feature: assets
Score: -0.00015, 	 Feature: marketValue

If we try to predict a company on the list:

99 Costco Wholesale United States 234.39 B  6.05 B  66.85 B  221.32 B

In [14]:
test = dict(revenue=234000, profits=6050, assets=66850, marketValue=221320)
testdf = pd.DataFrame(test, index=[0])
model.predict(testdf)

array([151.22851996])

If we try to predict a company **not** on the list:

In [15]:
test = dict(revenue=7000, profits=200, assets=3000, marketValue=2500)
testdf = pd.DataFrame(test, index=[0])
model.predict(testdf)

array([1113.18187631])